.App {
  text-align: center;
  font-family: cursive;
  font-size: 25px;
}
.contactList {
  overflow: hidden;
  position: relative;
  padding-bottom: 3%;
}
.gridList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.Header {
  margin-bottom: 2%;
  padding: 5%;
}
.Header i {
  font-size: 45px;
  margin-right: 1%;
  color: white;
}
.Header span {
  font-family: cursive;
  font-size: 35px;
  color: white;
}
